<div ng-controller="SellerSelectionController">
<div class="modal-header">
    <i class="fa fa-save"></i>
</div>
<div class="modal-title">ENTER YOUR AREA</div>
<div class="modal-body"  >
    <div class="form-group">
        <a href='javascript:void(0)' ng-click="updateArea()">Back</a>
	</div>
	<div class="form-group">
            <input type="text" ng-model="pin" class="form-control input-sm"  placeholder="Enter Area" ng-change="seachArea()">
			<!--<button type="button" class="btn btn-info" ng-click="vm.seachSeller()"><i class="fa fa-search"></i></button>-->
	</div>
    <div>
        <table>
            <tr ng-repeat="area in areaList" ng-show="isArea">
                <td class="{{area.AreaID}}" ng-click="seachSeller(area.AreaID)"> 
                {{area.AreaName}}
                </td>
            </tr>
        </table>
        <table>
            <tr ng-repeat="d in sellerList" ng-show="isSeller">
                <td ng-click="selectedSeller(d)"> 
                {{d.SellerShopeName}}
                </td>
            </tr>
        </table>
    </div>
<!--	<div class="form-group">
        <select class="form-control input-sm" ng-model="seller" ng-options="d as d.SellerShopeName for d in sellerList"  ng-change="selectedSeller(seller)">
            <option value="">Select Seller</option>
        </select>
	</div>-->
 </div>
<!--<div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="vm.close()">Cancel</button>
</div>-->
</div>