
    <nav id="menu" >
      <ul>
        <li><a href="#">Home</a></li>
		<li><a href="javascript:void(0)" ng-click="$root.open('modal-message modal-success','views/partials/selectseller.html','','SellerSelectionController',null,null)">{{$root.$storage.seller.SellerShopeName}}</a></li>
		<li ng-repeat="c in $root.categories"><a ui-sref="app.cat({catID:c.CategoryId})">{{c.CategoryName}}</a>
			<ul ng-if="c.Child.length>0">
				<li ng-repeat="c1 in c.Child"><a ui-sref="app.cat({catID:c1.CategoryId})">{{c1.CategoryName}}</a>
					<ul ng-if="c1.Child.length>0">
						<li ng-repeat="c2 in c1.Child"><a ui-sref="app.cat({catID:c2.CategoryId})">{{c2.CategoryName}}</a></li>
					</ul>
				</li>
			</ul>
		</li>
        <li><a href="#">About us</a>
          <ul>
            <li><a href="#">History</a></li>
            <li><a href="#">The team</a>
              <ul>
                <li><a href="#">Management</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Development</a></li>
              </ul>
            </li>
            <li><a href="#">Our address</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
		<li class="logout" style="display:none;"><a href="#">Logout</a></li>
      </ul>
    </nav>