 <div class="items swiper-slide" ng-repeat="d in ctrl.data">
            <div class="imageWrap"><a href="#"><img ng-src="{{d.ProductImage}}" alt=""/></a></div>
            <div class="productDetail">
              <h5 class="productName">{{d.ProductName}}</h5>
              <!--<h5 class="todayPrice">Today at Rs. {{d.OfferPrice}}</h5>-->
              <h5 class="price">
                  <span class="oldPrice">Rs. {{d.SellPrice}}</span><span class="newPrice">Rs. {{d.OfferPrice}}</span></h5>
            </div>
            <div class="actions clearfix">
              <div class="favorite"><i class="fa fa-heart-o"></i></div>
              <div class="cart">
<!--                  <a href="#" ><i class="fa fa-minus"></i></a> 
                  <span class="cartText">0</span>
                  <a href="#" ><i class="fa fa-plus"></i></a> -->
                <button class="btn btn-default" type="button" ng-click="$root.removeFromCart(d)"><i class="fa fa-minus"></i></button>
                <span class="cartText" >{{d.Qnt!=undefined?d.Qnt:0}}</span>
                <button class="btn btn-default" type="button" ng-click="$root.addToCart(d)"><i class="fa fa-plus"></i></button>
              </div>
            </div>
</div> 