 <div class="items swiper-slide" ng-repeat="d in ctrl.data">
            <div class="imageWrap"><a href="#"><img ng-src="{{d.PackageImage}}" alt=""/></a></div>
            <div class="productDetail">
              <h5 class="productName">{{d.PackageName}}</h5>
              <!--<h5 class="todayPrice">Today at Rs. {{d.OfferPrice}}</h5>-->
              <h5 class="price">
                  <!--<span class="oldPrice" ng-show="d.IsOfferApply">{{d.CurrencySign}} {{d.SellPrice}}</span>-->
                  <span class="newPrice">{{d.CurrencySign}} {{d.PackagePrice}}</span></h5>
            </div>
            <div class="actions clearfix">
              <div class="favorite"><i class="fa fa-heart-o"></i></div>
              <div class="cart"> <a href="#" ><i class="fa fa-minus"></i></a> <span class="cartText">0</span> <a href="#" ><i class="fa fa-plus"></i></a> </div>
            </div>
</div> 