<div class="swiper" ng-controller="checkoutController">
    <div id="banner" class="image_slider swiper-container">
      <div class="slider_content_list swiper-wrapper">
        <div class="swiper-slide"> <img class="" src="assets/img/slider/img1.jpg" alt="" /> </div>
        <div class="swiper-slide"><img class="" src="assets/img/slider/img1.jpg" alt="" /> </div>
        <div class="swiper-slide"><img class="" src="assets/img/slider/img1.jpg" alt="" /> </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="dealsDay">
      <div class="title_header">
        <div class="pull-right timer"><i class="fa fa-clock-o"></i> 21H:40M:12S</div>
        <div class="title">Mobile Verification</div>
      </div>
      <div class="swiper-container">
        <div id="deals" class="product_scroller swiper-wrapper">
            <div ng-show="showMobile">
                <form name="form" novalidate>
                    <label>{{errorMsg}}</label>
                <label>Mobile Number</label>
                <input type="text" ng-model="phone"/>
                <span ng-show="phoneField">Please enter a valid phone number</span> 
                <button ng-click="updateMobile()">Update</button>
                </form>
            </div>
            <div ng-show="showOtp">
                <form name="form" novalidate>
                    <label>{{msg}}</label>
                    <label>OTP Number</label>
                    <input type="text" ng-model="otp"/>
                    <button ng-click="otpVerification()">Submit</button>
                </form>
            </div>
        </div>
     </div>
    </div>
    
</div>