<div class="swiper" ng-controller="homeController">
    <div id="banner" class="image_slider swiper-container">
      <div class="slider_content_list swiper-wrapper">
        <div class="swiper-slide"> <img class="" src="assets/img/slider/img1.jpg" alt="" /> </div>
        <div class="swiper-slide"><img class="" src="assets/img/slider/img1.jpg" alt="" /> </div>
        <div class="swiper-slide"><img class="" src="assets/img/slider/img1.jpg" alt="" /> </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="dealsDay">
      <div class="title_header">
        <div class="pull-right timer"><i class="fa fa-clock-o"></i> 21H:40M:12S</div>
        <div class="title">Featured Products</div>
      </div>
      <div class="swiper-container">
        <div id="deals" class="product_scroller swiper-wrapper">
          <swiperproduct></swiperproduct>
        </div>
      </div>
    </div>
    <div class="categories">
      <div class="title_header">
        <div class="pull-right"><a class="btn btn-default btn-xs">More</a></div>
        <div class="title">Dry fruits</div>
      </div>
      <div class="swiper-container">
        <div id="deals" class="product_scroller swiper-wrapper">
            <swiperpackage></swiperpackage>
<!--          <div class="items swiper-slide">
            <div class="imageWrap"><a href="#"><img src="assets/img/products/pro1.jpg" alt=""/></a></div>
            <div class="productDetail">
              <h5 class="productName">Almond hair oil</h5>
              <h5 class="todayPrice">Today at Rs. 86</h5>
              <h5 class="price"><span class="oldPrice">Rs. 94</span><span class="newPrice">Rs. 90</span></h5>
            </div>
            <div class="actions clearfix">
              <div class="favorite"><i class="fa fa-heart-o"></i></div>
              <div class="cart"> <a href="#" ><i class="fa fa-minus"></i></a> <span class="cartText">0</span> <a href="#" ><i class="fa fa-plus"></i></a> </div>
            </div>
          </div>
          <div class="items swiper-slide">
            <div class="imageWrap"><a href="#"><img src="assets/img/products/pro1.jpg" alt=""/></a></div>
            <div class="productDetail">
              <h5 class="productName">Almond hair oil</h5>
              <h5 class="todayPrice">Today at Rs. 86</h5>
              <h5 class="price"><span class="oldPrice">Rs. 94</span><span class="newPrice">Rs. 90</span></h5>
            </div>
            <div class="actions clearfix">
              <div class="favorite"><i class="fa fa-heart-o"></i></div>
              <div class="cart"> <a href="#" ><i class="fa fa-minus"></i></a> <span class="cartText">0</span> <a href="#" ><i class="fa fa-plus"></i></a> </div>
            </div>
          </div>
          <div class="items swiper-slide">
            <div class="imageWrap"><a href="#"><img src="assets/img/products/pro1.jpg" alt=""/></a></div>
            <div class="productDetail">
              <h5 class="productName">Almond hair oil</h5>
              <h5 class="todayPrice">Today at Rs. 86</h5>
              <h5 class="price"><span class="oldPrice">Rs. 94</span><span class="newPrice">Rs. 90</span></h5>
            </div>
            <div class="actions clearfix">
              <div class="favorite"><i class="fa fa-heart-o"></i></div>
              <div class="cart"> <a href="#" ><i class="fa fa-minus"></i></a> <span class="cartText">0</span> <a href="#" ><i class="fa fa-plus"></i></a> </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
</div>