
<div class="page_header">
      <div class="container-fluid">
        <div class="icon pull-left"><a href="{{$root.backLink}}"><i class="glyphicon" ng-class="$root.backImage"></i></a></div>
        <div class="header_btns pull-right"><a class="btn "><i class="glyphicon glyphicon-filter"></i></a> <a class="filter btn "><i class="glyphicon glyphicon-search"></i></a></div>
        <div class="title">{{$root.pageTitle}}</div>
      </div>
</div>
<div ui-view ></div>
<div class="cart_footer" ng-if="$root.cart.items.length>0">
  <div class="cart_price clearfix">
    <div class="icon"><span class="fa fa-cart-arrow-down"></span> </div>
    <a class="order btn btn-sm btn-darkGreen" href="#/app/order">Order</a>
    <div class="cart_total">{{$root.cart.itemCount}} Items into Cart <strong class="pull-right">Rs. {{$root.cart.total}} </strong></div>
  </div>
</div>
<div ng-show="$root.appLoaded" sidebar-menu><div>